/* Testimonial.module.css */
.VideoContainer {
  position: relative;
  height: 500px;
  padding: 150px;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .VideoContainer {
    padding: 50px; /* Adjust the padding for smaller screens */
  }
}
@media (max-width: 480px) {
  .VideoContainer {
    padding: 10px; /* Adjust the padding for phones */
  }
}
.rightContent{
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 500;
  padding-top: 20px;
  text-transform: capitalize;
  text-align: start;
}
.BackgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place the video behind the content */
}

.Left {
  position: relative;
  z-index: 1; /* Place the content over the video */
  text-align: center;
  padding: 20px;
  color: white;
}
.Content{
  font-size: 56px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
  text-align: start;
}
.right{
  position: relative;
  z-index: 1; /* Place the content over the video */
  text-align: center;
  padding: 20px;
  color: white;
}
