.rating{
display: flex;
justify-content: left;
align-items: center;
justify-content: baseline;
}
.RaitingByNum{
    font-size: 13px;
    color: #6a6f73;
    margin-left: 0.4rem;
}
.Rate{
    font-size: 15px;
    font-weight: 700;
    padding-right: 5px;
}