.Down {
  display: flex;
}
.Category {
    position: absolute;
    top: 7%;
    left: 80%;
    transform: translate(-50%, -50%); /* Center the text */
    background-color: #3270fc; /* Add a semi-transparent background */
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #3270fc;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.ImageContainer{
  height: 179px;
}
.day {
  font-size: 29px;
  font-weight: 600;
}
.monunt {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.Up {
 width: 100%;
  height: 100%;
}
.EventCard {
  width: 276px ;
  height: max-content;
  transition: 300ms;
  padding-top: 10px;
}
.EventCard:hover {
  transform: scale(1.05);
}
.Main {
  max-width: 268px;
  height: max-content;
  transition: 300ms;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.date {
  line-height: 25px;
  color: #1751da;
}

.EventDetail {
  padding-left: 20px;
  font-weight: 500;
  font-size: 17px;
}
.DownCOntainer {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  color: white;
}
.InfoContainer {
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
}
.Info1 {
  width: 35px;
  height: 4px;
  background-color: #3270fc;
}
.Info2 {
  padding-left: 20px;
  font-weight: 400;
  padding-left: 15px;
}
.Info3 {
  padding-left: 20px;
  font-weight: 400;
  padding-left: 15px;
}
.Main:hover {
  transform: scale(1.05);
}
