.MainContainer {
  background-color: #f5f5f5;
  width: 100%;
  height: max-content;
  padding: 40px 0;
}
.GridBox {
  row-gap: 20px;
  gap: 15px;
  justify-content: center;
  justify-items: center;
}

.Conatiner {
  margin: 20px;
}
@media (max-width: 770px) {
  .GridBox {
    row-gap: 0px;
    gap: 5px;
  }
}
.title {
  font-size: 55px;
  line-height: 56px;
  font-weight: 600;
  color: #3270fc;
}
.SecondTitle {
  font-size: 18px;
  color: #5b5f64;
  line-height: 22px;
  font-weight: 400;
  margin-top: 15px;
  display: block;
  font-size: 20px;
}
.buttons {
  display: flex;
  gap: 15px;
}
:root {
  --max-gap: 0px; /* Define custom property for maximum gap size */
}
.MainHeaderCurse {
  padding: 0 40px;
}
@media (max-width: 1330px) {
  .GridBox {
    row-gap: 20px;
    gap: 5px;
  }
}
@media (max-width: 1930px) {
  .MainHeaderCurse {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media (max-width: 870px) {
    .MainHeaderCurse {
        display: block;
        justify-content: space-around;
        align-items: baseline;
      }
  .GridBox {
    gap: 10px !important;
  }
  .GridItem3 {
    max-width: 300px !important;
  }
}
@media (max-width: 1279px) {
  .GridBox {
    padding-top: 20px;
    gap: 50px;
  }
  .buttons {
    gap: 8px;
    padding-top: 20px;
  }
  .title {
    font-size: 30px;
  }
}
@media (max-width: 1300px) {
    .buttons {
        gap: 8px;
        padding-top: 20px;
      }
      .title {
        font-size: 30px;
      }
}
