.ImageContainer {
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  position: relative; /* Added */
  width: 200px; /* Set the width of the container */
  height: 200px; /* Set the height of the container */
  overflow: hidden; /* Hide any overflow */
  text-align: center;
}
.Profesion {
  display: block;
  color: #5b5f64;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.title {
    text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #0f1216;
  line-height: 25px;
}
.Image {
  padding: 10px;
  border-radius: 50%;
  position: absolute; /* Added */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.MainConatiner{
    width: max-content;
}