.BackgroundVideo{
    width: 100%;
    height: 100%;
    border-radius: 14px;
}
.BackgroundVideoContainer{
    width: 455px !important; 
    z-index: 1;
    position: relative;
    left: 100px;
}
.bakcgoundItem1{
    position: relative;
    z-index: 2;
    left: 55px;
    animation: BlueBakgound 7000ms linear infinite alternate-reverse 1000ms;
}
.bakcgoundItem2{
    position: relative;
    z-index: 2;
    top: 90px;
    left: 616px;
    animation: redBakgound 7000ms linear infinite alternate-reverse;
}
.bakcgoundItem3{
    position: relative;
    top: -235px;
    left: 259px;
    width: 387px;
}
.bakcgoundItem4{
    top: -329px;
    left: 150px;
    position: relative;
    z-index: -2;
}
@keyframes redBakgound {
    0% { top: -230px;}
    50% {top:-380px}
    100%{ top: -230px;}
}
@keyframes BlueBakgound {
    0% { top: -230px;}
    50% {top:-333px}
    100%{ top: -233px;}
}
.MainContainer{
    width: 100%;
    height: 500px;
    display: flex;
    padding: 150px 0;
    justify-content: center;
    margin-top: 100px !important;
}
.LeftSideContainer{
    width: 800px;
    height: max-content;
    
}
.Check{
    margin-right: 10px;
    position: relative;
    background: rgba(210,9,60,.1);
    padding: 4px 8px;
    color: #3270fc;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
.rightSideContainer{
    width: 450px;
}
.title1{
    color: #0F1216;
    font-size: 44px;
    line-height: 56px;
    font-weight: 500;
}
.title2{
    color: #3270fc;
    font-size: 44px;
    line-height: 56px;
    font-weight: 500;
}
.title3{
    font-size: 18px;
    line-height: 28px;
    color: #5B5F64;
}
@media (max-width:1100px) {
    .BackgroundVideoContainer{
        width: 355px !important; 
    }
    .bakcgoundItem1{
        left: 55px;
    }
    .bakcgoundItem2{
        left: 450px;
    }
    .bakcgoundItem3{
        top: -250px;
        left: 95px;
    }
    .bakcgoundItem4{
        left: 10px;
    }
    .LeftSideContainer{
        width: 600px;
    }
}
@media (max-width:1000px) {
    .BackgroundVideoContainer{
        width: 255px !important; 
        left: 50px;
    }
    @keyframes BlueBakgound {
        0% { top: -180px;}
        50% {top:-233px}
        100%{ top: -183px;}
    }
    @keyframes redBakgound {
        0% { top:- 180px;}
        50% {top:-210px}
        100%{ top:- 180px;}
    }
    .bakcgoundItem1{
        left: 0px;
    }
    .bakcgoundItem2{
        left: 250px;
    }
    .bakcgoundItem3{
        height: 137px;
        top: -224px;
        left: 108px;
        width: 226px;
    }
    .bakcgoundItem4{
        left: 10px;
        top: -20px;
    }
    .LeftSideContainer{
        width: 360px;
    }
}
@media (max-width:734px) {
    .BackgroundVideoContainer{
        width: 365px !important;
        left: 0px;
    }
    @keyframes redBakgound {
        0% { top:- 180px;}
        50% {top:-280px}
        100%{ top:- 180px;}
    }
    .bakcgoundItem1{
        left: -20px;
    }
    .bakcgoundItem2{
        left: 280px;
        top:-200px
    }
    .bakcgoundItem3{
        top: -224px;
        width: 338px;
        left: 0;
    }
    .bakcgoundItem4{
        left: 10px;
        top: -284px;
    }
    .LeftSideContainer{
        width: 360px;
            height: 243px;
    }
    .MainContainer{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        align-items: center;
        gap: 20px;
    }
    .rightSideContainer{
        width: 330px;
    }
    
}
